@import url(https://lunaria.design/css/lunaria.css);

body {
    background-color: var(--lunaria-bg);
    color: var(--lunaria-fg);
}

h1 {
    color: var(--lunaria-emph-fg);
}

button {
    background-color: var(--lunaria-bg-green-semiopaque);
    border-color: var(--lunaria-bg-green);
    color: var(--lunaria-emph-fg);
}
